.box-amigos {
  .mySwiper-card {
    width: 100%;
    height: 100%;
    overflow: initial;
  }

  .swiper-pagination {
    position: static !important;
    @apply w-1/2 sm:w-1/3 md:w-1/4 border border-[#D8D8D8] bg-white h-3 rounded-full;
    margin-top: 20px;

    span {
      @apply rounded-full bg-vermelho-1;
    }
  }
  .swiper-slide {
    height: auto;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
