body {
  padding-right: 0 !important;
  @apply overflow-x-hidden;

  @apply min-h-screen flex flex-col;
  & > main {
    @apply flex-1;
  }
}

.btn-custom {
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0px;
    width: 100%;
    background-color: black;
    filter: contrast(100px);
    opacity: 0.1;
    transition: all 300ms ease;
  }
  &:hover {
    &::after {
      height: 100%;
    }
  }
}

.swiper-custom {
  .mySwiper-card {
    width: 100%;
    height: 100%;
  }

  .swiper-pagination {
    position: static !important;
    margin-top: 20px;

    span {
      background: #c61212 !important;
      width: 12px;
      height: 12px;
    }
  }
  .swiper-slide {
    height: auto;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

/* CRIA BARRA PERSONALIZADA */
* {
  scrollbar-width: thin;
  scrollbar-color: #c61212 white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: #c61212;
  border-radius: 20px;
  border: 2px solid white;
}
